<p class="text-3xl font-bold underline">header works!</p>
<button data-cy-testid="inc-btn" type="submit" (click)="this.incrementCounter()">Increment</button>
<button type="submit" (click)="this.decrementCounter()">Decrement</button>
<button type="submit" (click)="this.setStaticDefaultCounter()">Reset</button>
<p>Counter is {{ this.counter() }}</p>
<p>Counter + 10 (Computed) is {{ this.computedVal() }}</p>
<div>
  @for (user of this.users(); track user.id) {
    <h3>{{ user.fName }}</h3>
    @if (user.fName === "Andrew") {
      <p>GOT ANDREW!</p>
    } @else if (user.id === 2) {
      <p>GOT ANDERSON!</p>
    } @else {
      <p>DID NOT GET EITHER!</p>
    }
  } @empty {
    <p>NO USERS FOUND!</p>
  }
</div>
<p>ALIEN LIST:</p>
<div>
  @for (alien of this.aliens(); track alien._id) {
    <p>{{ alien.name }}</p>
  }
</div>
<div class="grid grid-cols-2 gap-4 p-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  @for (blogPost of this.blogData(); track blogPost.mainImageUrl) {
    <app-card [data]="blogPost" (click)="navigate($event)"></app-card>
  }
</div>
